
<div class="compose" id="compose">
    <h3>Share your adventure with us</h3>
    <hr>
    <form action="/compose" method="post" class="composeform">
        <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Title">
          </div>
          <div class="mb-3">
            <label for="postContent" class="form-label">Content</label>
              <textarea name="postContent" class="form-control" rows="5" id="postContent" placeholder="Enter your adventure here"></textarea>  
           </div>
          <button type="submit" class="btn btn-grad">Publish</button>
    </form>
</div>