<div class="contactus" id="contactus">
    <h3 class="contactheading">Get in Touch</h3>
    <div class="left-container">
        <div class="explore">
        <div>
            <h4>Wanna explore the world with us</h4>
            <h6>Have the urge to walk in the bioluminescence beach at least once in your lifetime.</h6>
        </div>
        <div class="arrow">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    </div>
     <div class="right-container">
        <form action="/contact" method="post">
            <h4 class="pingus">Send us a message</h4>
            <div class="form-floating mb-3">
                <input type="text" class="form-control contactform" id="floatingText" name="Name" placeholder="Name" required >
                <label for="floatingText">Name</label>
              </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control contactform" id="floatingInput" name="Email"  placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control contactform" placeholder="Leave a message here" name="Message" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Message</label>
              </div>
              <button type="submit" class="btn btn-grad">Send</button>
             </form>
     </div>
</div>