<div class="homecontainer" id="home">
    <div class="clip clip1">
        <div class="content">
            <h2>SWITZERLAND</h2>
        </div>
    </div>
    <div class="clip clip2">
        <div class="content">
            <h2>PARIS</h2>
        </div>
    </div>
    <div class="clip clip3">
        <div class="content">
            <h2>DUBAI</h2>
        </div>
    </div>
</div>


