<div id="whyus">
    <h3 class="whyusheading"> Why The Travel Blog?</h3>
    <hr>
    <div class="container">
       <div class="row">
          <div class="col-sm-4">
            <h4>Because we have good spots</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus doloribus, quisquam? Quia iure earum voluptatum quod cum, neque, modi. Laboriosam quisquam, architecto iure tenetur facere mollitia perspiciatis aliquam atque!</p>
         </div>
         
         <div class="col-sm-4">
            <h4>Approved travel guides by us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus doloribus, quisquam? Quia iure earum voluptatum quod cum, neque, modi. Laboriosam quisquam, architecto iure tenetur facere mollitia perspiciatis aliquam atque!</p>
         </div>
         
         <div class="col-sm-4">
            <h4>Top-notch places</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus doloribus, quisquam? Quia iure earum voluptatum quod cum, neque, modi. Laboriosam quisquam, architecto iure tenetur facere mollitia perspiciatis aliquam atque!</p>
         </div>
         
       </div>
    </div>
  </div>
  <div class="container text-center statscontainer">
    <div class="row">
      <div class="col-sm-3 col">
        <i class="fa-solid fa-location-dot fa-2x icon"></i>
     <h5>400</h5>
      <h6>Destination</h6>
     </div>
      <div class="col-sm-3 col">
        <i class="fa-solid fa-heart fa-2x icon"></i>
        <h5>Unlimited</h5>
        <h6>Entertainment</h6>     
       </div>
      <div class="col-sm-3 col">
        <i class="fa-solid fa-users fa-2x icon"></i>
        <h5>1M</h5>
        <h6>Tourists</h6>     
       </div>
      <div class="col-sm-3 lastcol">
        <i class="fa-solid fa-thumbs-up fa-2x icon likeicon"></i>
        <h5>10M</h5>
        <h6>Likes</h6>     
       </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="quotecontainer">
      <blockquote>
        &ldquo; We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open..&rdquo;
        <cite>&mdash; Jawaharlal Nehru</cite>
      </blockquote>
    </div>
  </div>